<div class="container-fluid">
    <div id="wrapper" class="toggled">
        <side-Navigation></side-Navigation>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="top-margin">
                    <div ng-if="vm.error" class="alert alert-warning search-messages" role="alert">
                        <article>{{vm.error}}</article>
                    </div>
                    <div ng-if="vm.norequests" class="alert alert-secondary search-messages" role="alert">
                        <article>{{vm.norequests}}</article>
                    </div>
                    <div class="card mt-2" ng-repeat="request in vm.requests">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <article>Sent to: <strong>{{request.nameFor}} </strong><span ng-if="request.isComplete==false" class="badge badge-warning">Pending</span><span ng-if="request.isComplete==true" class="badge badge-success">Completed</span></article>
                                    <article>Severity: <strong>{{request.severity}}</strong></article>
                                    <article>Note: <strong>{{request.note}}</strong></article>
                                    <article>Requested At: <strong>{{request.address}}</strong></article>
                                    <article>Requested on: <strong>{{request.requestedOn | date}}</strong></article>
                                </div>
                                <div class="col-md-5">
                                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#editReqModal{{request._id}}">Edit <i class="fa fa-pencil-square-o fa-1.5x"></i></button>
                                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#deleteReqModal{{request._id}}">Delete <i class="fa fa-times fa-1.5x"></i></button>
                                </div>
                            </div>
                            <div class="modal fade" modal="editReqModal{{request._id}}" id="editReqModal{{request._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                 <form name="editReqForm" ng-submit="vm.editrequest(editReqForm)">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Request</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div ng-if="vm.editreqsuccess" class="alert alert-success" role="alert">
                                            {{vm.editreqsuccess}}
                                        </div>
                                        <div ng-if="vm.editreqerror" class="alert alert-danger" role="alert">
                                            {{vm.editreqerror}}
                                        </div>
                                        <label>Severity</label>
                                        <select ng-model="vm.editedseverity" class="form-control">
                                            <option value="">--Please select--</option>
                                            <option value="low">Low</option>
                                            <option value="medium">Medium</option>
                                            <option value="high">High</option>
                                        </select>
                                        <label>Note</label>
                                        <textarea ng-model="vm.editednote" class="form-control" placeholder="{{request.note}}"></textarea>
                                        <label>Address</label>
                                        <input type="text" class="form-control" ng-model="vm.editedaddress" placeholder="request.address">
                                        <input type="hidden"  name="id" value="{{request._id}}">
                                      </div>
                                      <div class="modal-footer">
                                        <button type="submit" class="btn btn-dark">Save</button>
                                        <button type="reset" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                      </div>
                                    </div>
                                 </form> 
                                </div>
                            </div>
                            <div class="modal fade" modal="deleteReqModal{{request._id}}" id="deleteReqModal{{request._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                 <form name="deleteReqForm" ng-submit="vm.deleterequest(deleteReqForm)">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Request</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div ng-if="vm.deletereqsuccess" class="alert alert-success" role="alert">
                                            {{vm.deletereqsuccess}}
                                        </div>
                                        <div ng-if="vm.deletereqerror" class="alert alert-danger" role="alert">
                                            {{vm.deletereqerror}}
                                        </div>
                                        <article>Are you sure you want to delete the request?</article>
                                        <input type="hidden"  name="id" value="{{request._id}}">
                                      </div>
                                      <div class="modal-footer">
                                        <button type="submit" class="btn btn-dark">Delete</button>
                                        <button type="reset" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                      </div>
                                    </div>
                                 </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>